/* line 2, ../sass/utility.scss */
.text-center {
  text-align: center;
}

/* line 6, ../sass/utility.scss */
.text-left {
  text-align: left;
}

/* line 10, ../sass/utility.scss */
.text-right {
  text-align: right;
}

/* line 14, ../sass/utility.scss */
.font-size-10 {
  font-size: 10px;
}

/* line 18, ../sass/utility.scss */
.font-size-11 {
  font-size: 11px;
}

/* line 22, ../sass/utility.scss */
.font-size-12 {
  font-size: 12px;
}

/* line 26, ../sass/utility.scss */
.font-size-13 {
  font-size: 13px;
}

/* line 31, ../sass/utility.scss */
.font-size-14 {
  font-size: 14px;
}

/* line 35, ../sass/utility.scss */
.font-size-15 {
  font-size: 15px;
}

/* line 39, ../sass/utility.scss */
.font-size-16 {
  font-size: 16px;
}

/* line 43, ../sass/utility.scss */
.font-size-18 {
  font-size: 18px;
}

/* line 47, ../sass/utility.scss */
.font-size-20 {
  font-size: 20px;
}

/* line 52, ../sass/utility.scss */
.b {
  font-weight: bold;
}

/* line 56, ../sass/utility.scss */
.i {
  font-style: italic;
}

/* line 60, ../sass/utility.scss */
.float-left {
  float: left;
}

/* line 64, ../sass/utility.scss */
.float-right {
  float: right;
}

/* line 68, ../sass/utility.scss */
.clear-both {
  clear: both;
}
